<div>
  <img src="/assets/little-price-logo.png" alt="The-little-price">
  <p>
    Thank you for reading to the end!
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
