<footer>
    <span>
        <a href="https://github.com/youming16" target="_blank" rel="noopener"
            >GitHub</a
        >
        <!-- &copy; {new Date().getFullYear()} -->
    </span>
</footer>

<style>
    footer {
        color: var(--text-secondary);
        font-size: 0.8em;
        margin: 1em auto;
        max-width: 1400px;
        padding: 1em 1em;
        text-align: center;
        width: 100%;
    }
</style>
